/* Default styles for documentation files. */


body {
    margin: 40px;
    margin-top: 0px;
    background: burlywood;
}

nav {
    background: chocolate;
    padding: 12px 15px;
}

nav * {
    margin: 10px;
}

code {
    /* Inline codes */
    font-family: 'JetBrains Mono', 'Fira Code', 'Consolas', monospace;
    font-size: 15px;
    background: #eec897;
    color: black;
    margin: 0 2px 0 2px;
    border-radius: 3px;
}

pre {
    /* Code blocks */
    font-family: 'JetBrains Mono', 'Fira Code', 'Consolas', monospace;
    font-size: 15px;
    background: #eec897;
    color: black;
    margin: 0 2px 0 2px;
    border-radius: 3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Titles */
    margin: 1.2em 0 0.6em 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: brown;
}

hr {
    /* Dividing line */
    border: 0;
    height: 2px;
    background: chocolate;
    margin: 1em 0;
}

a {
    /* Links */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-decoration: underline;
}

nav a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    text-decoration: underline;
}

a:hover {
    color: blue;
}

* {
    /* Default text */
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

summary::after {
    content: "?";
    color: #d62828;
}

.faq {
    margin: 8px 0 8px 22px;
    background-color: #eec897;
    border-left: 4px solid #a47b34;
    border-radius: 3px;
    padding-left: 5px;
}